.card{
background-color: #b4e6ff59;
/* border: 2px solid red; */
height: 220px;
width: 220px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 15px;
box-shadow: 3px 9px 5px rgb(56, 57, 116);
padding: 0 3px;
cursor: pointer;
}

.card_title{
font-size: 35px;
text-shadow: 5px 10px 5px rgb(41, 41, 41);
font-family:monospace;
}