.nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #1572A1;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav_logo{
    font-size: x-large;
    font-weight: bold;
    color:#fdeac1;
    cursor: pointer;
}

.nav_about{
    cursor: pointer;
}