.products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.product_item{
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1;
    flex-basis: 1; */

    border: 2px solid grey;
    background-color: aliceblue;

    cursor: pointer;
    padding: 21px;
}

