.concrete {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 9px;
}
p {
  margin: 0;
  padding: 0;
  text-align: justify;
  /* text-indent: 29px; */
}

.cement{
    text-align: center;
}
a{
  text-decoration: none;
}

.cement_test{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cement_test img{
  width: 96vw;
}