section {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap; /*direc ,wrap*/
  justify-content: center;

  align-items: center;
  align-content: center;

  gap: 10px;
  height: 90vh;
  border: 2px dotted black;
  padding: 10px;
}

.red {
  height: 60px;
  border: 6px soliffd black;
  background-color: red;
  padding: 9px;
  font-size: large;
  font-weight: bold;
  order:-1;/*Order value less ,more priority*/
}
.green {
    /* width: 100vw; */
    /* flex-basis: 100vw; */
    /*it same as width but it follow main axis of flex*/
    flex: 1 01 200px;
    /*flex : flex-grow flex-shrink flex-basis*/
    /*flex-shrink is 0 ,it never shrink from 200px*/
  height: 130px;
  border: 6px solid black;
  background-color: green;
  padding: 9px;
  font-size: large;
  font-weight: bold;
  /* flex-grow: 1; */
  flex-shrink: 1 ; /*it will shrink*/
 
}
.blue {
  height: 90px;
  border: 6px solid black;
  background-color: blue;
  padding: 9px;
  font-size: large;
  font-weight: bold;
  /* flex-grow: 1;it distribute white space more number high space take */
  flex: 1 1 2000px;
  /* flex:flex-grow flex-shrink flex-basis   ,
   when pixels size more than container ,flex-shrink will shrink into the container
  */
}
